/* imports */
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

body {
	background-image: url('https://github.com/kylemiho/kylemiho.github.io/blob/master/IMG/BG.png');
	background-repeat: repeat;
	overflow: scroll;
}

/* Background Image */
.bg {
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	opacity: 0.8;
	z-index: 0;
}
/* Background Image Title */
.name {
	margin-top: -40%;
	text-align: center;
	position: relative;
	z-index: 1;
	font-family: Cormorant Garamond;
	font-size: 9vw;
	font-weight: bold;
}

.description {
	text-align: center;
	position: relative;
	font-family: Cormorant Garamond;
	font-size: 6vw;
	font-weight: bold;
	z-index: 1;
}

/* Social Media Icons Wrapper */

.social {
	position: fixed;
	bottom: 0px;
	text-align: center;
	width: 100%;
	background-color: gray;
}

/* Social Media Icons */

.fa {
    color: black;
    display: inline-block;
    font-size: 35px;
    margin: 10px auto;
    width: 6%;
}

.fa:hover {
    opacity: 0.7;
}

/* Text Content */

#firstText {
	margin-top: 23%;
}

.text {
	font-family: Cormorant Garamond;
	font-size: 2vw;
}

.textP {
	padding-left: 7%;
	padding-right: 7%
}

.textSecondary {
	padding-left: 5%;
	font-weight: bold;
	font-size: 3vw;
}

.textTitle {
	font-size: 5vw;
	font-weight: bold;
	text-align: center;
}

#last {
	margin-bottom: 15%;
}

/* Table */
.skill-header {
	font-size: 20px;
	color: white;
	background: rgb(30, 160, 200);
	padding: 2%;
	border-radius: 2px;
	font-weight: 500;
}

.skills-row {
	padding-bottom: 5%;
	padding-top: 3%;
}

ul.skills {
	padding: 1%;
	color: rgb(84, 84, 84);
	font-weight: 200;
}

/* Containers in Projects Folder */
.contain {
	background-color: rgb(230,230,230);
	border-style: solid;
	border-radius: 5px;
	float:left;
	width: 200px;
	height: 200px;
	padding: 40px;
}
